version: '3.8'

services:
  web:
    build: .
    container_name: dineops_web
    env_file:
      - .env
    ports:
      - "8001:8001"
    volumes:
      - static_volume:/app/staticfiles
    restart: always

volumes:
  static_volume: