version: '3.8'

services:
  web:
    build: .
    command: gunicorn --bind 0.0.0.0:8000 rms_backend.wsgi:application
    volumes:
      - .:/app
      - static_volume:/app/staticfiles
    ports:
      - "8000:8000"
    env_file:
      - .env

volumes:
  db_data:
  static_volume: 