Django
djangorestframework
djangorestframework-simplejwt
# djongo
django-cors-headers
Pillow
requests
drf-yasg
setuptools
# Server
python-decouple
gunicorn
whitenoise
pymysql
python-dotenv

# firebase-admin
django-firebase-auth
# requests

# django-countries ##INSTALLED_APPS = ['countries']
# django-cities #INSTALLED_APPS = ['cities']
