Django
djangorestframework
djangorestframework-simplejwt
djongo
django-cors-headers
Pillow
requests
# Server
python-decouple
gunicorn
whitenoise

# django-countries ##INSTALLED_APPS = ['countries']
# django-cities #INSTALLED_APPS = ['cities']
