Django
djangorestframework
djangorestframework-simplejwt
# djongo
django-cors-headers
Pillow
requests
drf-yasg
setuptools
# Server
python-decouple
gunicorn
whitenoise
pymysql
python-dotenv


# django-countries ##INSTALLED_APPS = ['countries']
# django-cities #INSTALLED_APPS = ['cities']
