version: '3.8'

services:
  phpmyadmin:
    image: phpmyadmin:5.2
    container_name: phpmyadmin
    restart: unless-stopped
    env_file:
      - ../.env
    ports:
      - "${PMA_PORT}:80"
    environment:
      - PMA_HOST=${PMA_HOST}
      - PMA_PORT=${MYSQL_PORT}
    extra_hosts:
      - "host.docker.internal:host-gateway"